
  .button-wrapper {
    border: none;
    outline: none;
    border-radius: 500px;
    background: linear-gradient(to right, #2f57ef, #B260EC);
    padding: 10px 20px;
    cursor: pointer;
    position: relative;
    z-index:1;
  }
  .button-wrapper::before {
    content: "";
    position: absolute;
    top: 3px;
    right: 3px;
    bottom: 3px;
    left: 3px;
    background: linear-gradient(to right, #fff, #EFF1FF);
    border-radius: 497px;
    z-index: -1;
    transition: 200ms;
  }
  .button-wrapper::after {
    content: attr(data);
    font-size: 16px;
    background: linear-gradient(to left, #2f57ef, #B260EC);
    -webkit-background-clip: text;
    color: transparent;
    transition: 200ms;
  }
  .button-wrapper:hover::before {
    opacity: 50%;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
  }
  .button-wrapper:hover::after{
    color: white;
  }

  /* .border-wrapper {
    border: 2px;
    border-radius: 30px;
    border-image: linear-gradient(to right, #2f57ef, #B260EC) 1;
    padding: 10px 20px;
    cursor: pointer;
    position: relative;
    z-index:1;
  } */
  
  /* .gradient-border {
    border-width: 2px;
    border-radius: 50%;
    border-style: solid;
    border-image: linear-gradient(to right, #2f57ef, #B260EC) 1;
  } */
  .gradient-border {
    position: relative;
  }
  .gradient-border::before {
    z-index: -1;
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 15px; 
    padding: 3px; 
    background:linear-gradient(45deg,red,blue); 
    -webkit-mask: 
       linear-gradient(#fff 0 0) content-box, 
       linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude; 
  }
